<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="customerForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstNameId"
                 type="text"
                 placeholder="First Name (required)"
                 formControlName="firstName"
                 [ngClass]="{'is-invalid': messages['firstName'] }"/>
          <span class="invalid-feedback">
              {{ messages['firstName'] }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastNameId"
                 type="text"
                 placeholder="Last Name (required)"
                 formControlName="lastName"
                 [ngClass]="{'is-invalid': messages['lastName'] }"/>
          <span class="invalid-feedback">
              {{ messages['lastName'] }}
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="emailId"
                   type="email"
                   placeholder="Email (required)"
                   formControlName="email"
                   [ngClass]="{'is-invalid': messages['emailGroup.email'] }"/>
            <span class="invalid-feedback">
              {{ messages['emailGroup.email'] }}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="confirmEmailId">Confirm Email</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="confirmEmailId"
                   type="email"
                   placeholder="Confirm Email (required)"
                   formControlName="confirmEmail"
                   [ngClass]="{ 'is-invalid': messages['emailGroup.confirmEmail'] }"/>
            <span class="invalid-feedback">
              {{ messages['emailGroup.confirmEmail'] }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="phoneId">Phone</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="phoneId"
                 type="tel"
                 placeholder="Phone"
                 formControlName="phone"
                 [ngClass]="{'is-invalid': messages['phone'] }"/>
          <span class="invalid-feedback">
            {{ messages['phone'] }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Send Notification</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     type="radio"
                     value="email"
                     formControlName="notification"> Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     type="radio"
                     value="text"
                     formControlName="notification"> Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Rating</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="ratingId"
                 type="number"
                 formControlName="rating"
                 [ngClass]="{'is-invalid': messages['rating'] }"/>
          <span class="invalid-feedback">
            {{ messages['rating'] }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="sendCatalogId"
                     type="checkbox"
                     formControlName="sendCatalog"> Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="customerForm.get('sendCatalog').value">
        <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0">Address Type</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"
                           id="{{ 'addressType1Id' + i }}"
                           type="radio"
                           value="home"
                           formControlName="addressType"> Home
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"
                           id="{{ 'addressType2Id' + i }}"
                           type="radio"
                           value="work" å
                           formControlName="addressType"> Work
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input"
                           id="{{ 'addressType3Id' + i }}"
                           type="radio"
                           value="other"
                           formControlName="addressType"> Other
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     attr.for="{{ 'street1Id' + i }}">Street Address 1</label>
              <div class="col-md-8">
                <input class="form-control"
                       id="{{ 'street1Id' + i }}"
                       type="text"
                       placeholder="Street address"
                       formControlName="street1">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     attr.for="{{ 'street2Id' + i }}">Street Address 2</label>
              <div class="col-md-8">
                <input class="form-control"
                       id="{{ 'street2Id' + i }}"
                       type="text"
                       placeholder="Street address (second line)"
                       formControlName="street2">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     for="{{ 'cityId' + i }}">City</label>
              <div class="col-md-4">
                <input class="form-control"
                       id="{{ 'cityId' + i }}"
                       type="text"
                       placeholder="City"
                       formControlName="city">
              </div>
              <label class="col-md-2 col-form-label"
                     for="{{ 'postCodeId' + i }}">Post Code</label>
              <div class="col-md-2">
                <input class="form-control"
                       id="{{ 'postCodeId' + i }}"
                       type="text"
                       placeholder="Post code"
                       formControlName="postCode">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button class="btn btn-outline-primary"
                    type="button"
                    (click)="addAddress()"
                    [disabled]="!customerForm.valid">
              Add Another Address
            </button>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!customerForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary"
                  type="button"
                  (click)="populateTestData()">
            Test Data
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ customerForm?.dirty }}
<br>Touched: {{ customerForm?.touched }}
<br>Valid: {{ customerForm?.valid }}
<br>Value: {{ customerForm?.value | json }}
